/* Es un SELECTOR DE TIPO CLASE este utilizamos para agrupar elementos
 ya que le colocamos un nombre en el html para poder acceder  
mediante el punto accedo al menu y con un espacio y el nombre del aelemento puedo acceder a ellos*/
.menu li{
    /*Cuando aplicas list-style: none; a un elemento de lista (<ul> o <ol>), se eliminan las
     viñetas o marcadores que se muestran por defecto en los navegadores.*/
    list-style: none;


    display: inline-block;
    border:1px solid black;
    
    /*margin-right: 20px;
    margin-left: 20px;
    margin: 15px 60px 10px 50px;
*/
    margin: 5px;
    border-radius: 6px;
    padding: 5px 5px;
    text-align: left;
   
   }

   .cabecera h1{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    color: coral;
   }

.menu{
    background-color: blanchedalmond;
    text-align: left;
}

/*Siempre debemos declarar el displey de tipo bloc en todo la estructura del html*/
header,section,footer,aside,nav,article{
    display: block;
}

/*SELECTOR DE TIPO ELEMENTO en este afecta a todos los elementos body o h1 etc en el html */
body{
    text-align: center;
    background: burlywood;
}


.formulario{
    width: 900px;
    border: 1px double black;
    margin: 15px auto;
}

.seccion{
    margin: 20px;
    width: 600px;
    float: left;
}

article{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 25px;
    background-color: cadetblue;
}

.referencias{
    border: 1px solid black;
    width: 200px;
    float: left;
    margin-top: 200px;
    margin-left: 20px;
    
    
}

article footer{
    text-align: right;
}

.pie{
    clear: both;
}

section img{
    width: 200px;
    height: 150px;
    border: 2px solid orange;
}

/*h1{
    color: red;
}
h2{
    color: red;
}
h3{
    color: red;
}
*/
h1,h2,h3{
    color: purple;
}



